:root {
    --body-color:  #212121;
    --bgr-color: #2F303A;
    --white-color: #ECECEC;
    --blue-color: #2196F3;
    --max-white-color: #FFFFFF;
    --gray-color: #757575;
    --two-white-color: #F5F4FA;
}

*,*::before,
*::after {
  box-sizing: border-box;
}

.body {
list-style-type: none;
font-family: Roboto;
color: var(--body-color);
}

.container{
width: 1200px;
padding: 0 15px;
margin: 0 auto;
}

.link {
font-family: Roboto;
font-style: 500;
font-weight: 500;
color: var(--body-color);
line-height: 16px;
}

.link:hover{
    font-family: Roboto;
    font-weight: 500;
    width: 77px;
    color: var(--blue-color);
}

.active {
    color: var(--blue-color);
}

.logo {
font-family: Raleway;
color: var(--body-color);
font-size: 26px;
line-height: 31px;
margin-right: 93px;
}

.web-end-two, .map,.end-contacts, .logo, .logo-end, .site-nav-lis, .ctn, .web-one, .link, .web-two, .end {
text-decoration: none;
}

.web-one{
color: var(--blue-color);
 }

.head {
border-bottom: 1px solid var(--white-color);
padding: 24px 0;
}

.head-container{
display: flex;
align-items: center;
}
.link-current{
color: var(--blue-color);
}

.ctn {
font-family: Roboto;
font-weight: 500;
color: var(--gray-color);
}

.ctn-item:not(:last-child) {
    margin-right: 50px;
}


.ctn:hover {
font-family: Roboto;
font-weight: 500;
color: var(--blue-color);
width: 135px; 
}

.site-nav-list {
font-family: Roboto;
font-weight: 500;
color: var(--body-color);
display: flex;
flex-direction: row;

}
.site-nav-list:hover {
font-family: Roboto;
font-weight: 500;
color: var(--blue-color);
}

.title{
width: 696px;
font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 60px;
margin-left: auto;
margin-right: auto;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--max-white-color);
text-decoration: none;
margin-top: 0;
margin-bottom: 30px;
}

.title-items{
    margin-left: auto;
    margin-right: auto;
}

.hero {
background-color: var(--bgr-color);
padding-top: 200px;
padding-bottom: 200px;
background-image: url(../images/fonhd.jpg)
}
.hero-elements {
    text-align: center;
}
.button_portfolio{
    margin-bottom: 56px;
}
.btn-items {
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background: var(--blue-color);
    color: var(--max-white-color);
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    padding: 6px 22px;
    margin-left: auto;
margin-right: auto;
}

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts :not(:last-child){
    margin-right: 30px;
}

.menu-text{
display: flex;
list-style-type: none;
align-items: flex-start;
margin-top: 0px;
}

.text-item{
width: 270px;
color: #212121;
font-size: 14px;
line-height: 16px;
}
.text-elements{
font-family: Roboto;
font-weight: 400;
width: 270px;
color: var(--gray-color);
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
align-items: flex-start;
}

.text-elements-title{
font-family: Roboto;
font-weight: 700;
color: var(--body-color);
align-items: flex-start;
margin-bottom: 10px;
}

.foto-elements{
display: flex;
flex-direction: column;
padding-top: 94px;
padding-bottom: 94px;
}

.foto_title {
width: 380;
margin: 0px auto;
margin-bottom: 50px;
text-align: center;
font-family: Roboto;
font-style: 700;
color: var(--body-color);
font-size: 36px;
line-height: 42px;
}

.menu-foto{
display: flex;
align-items: center;
}

.site-nav-list {
    font-family: Roboto;
    font-weight: 500;
    color: var(--body-color);
}
.site-nav-list :not(:last-child){
    margin-right: 50px;
}

.team {
background-color: var(--two-white-color);
padding-top: 94px;
padding-bottom: 94px;
}

.team-title {
font-family: Roboto;
color: #212121;
font-size: 36px;
line-height: 42px;
margin: 0px 0px 50px 0px;
text-align: center;
}

.team-menu{
list-style-type: none;
display: flex;
padding-left: 0px;
margin: 0px auto;
}

.info :not(:last-child){
margin-right: 30px;
}

.team-foto{
width: 270px;
}

.name{
font-family: Roboto;
font-weight: 500;
color: var(--body-color);
font-size: 16px;
line-height: 19px;
margin: 0px auto;
}

.work{
font-family: Roboto;
color: var(--gray-color);
font-size: 16px;
line-height: 19px;
margin: 0px auto;
}


.end{
font-family: Roboto;
background: var(--body-color);
text-decoration: none;
list-style-type: none;
padding-top: 60px;
padding-bottom: 60px;
}

.logo-end {
font-family: Raleway;
font-size: 26px;
line-height: 31px;
text-decoration: none;
margin-bottom: 30px;
}

.web-end-two {
    color: var(--max-white-color);
    text-decoration: none;
}


.map{
    list-style-type: none;
font-family: Roboto;
color: var(--max-white-color);
width: 231px;
}

.end-contacts {
font-family: Roboto;
width: 231px;
background-color: var(--body-color);
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
line-height: 24px;
text-decoration: none;
list-style-type: none;
}

.end-contacts:hover {
    font-family: Roboto;
    width: 231px;
    color: rgba(255, 255, 255, 0.6);  
}


.product{
    padding-top: 94px;
    padding-bottom: 94px;
}

.product-elements{
display: flex;
flex-wrap: wrap;
list-style-type: none;
margin-left: -30px;
margin-top: -30px;
}

.product_name{
font-family: Roboto;
font-weight: 700;
color: var(--body-color);
font-size: 18px;
line-height: 36px;
}

.product_tape{
font-family: Roboto;
font-weight: 4000;
color: var(--gray-color);
font-size: 16px;
line-height: 30px;
}

.btnp{
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: var(--two-white-color);
color: var(--body-color);
display: flex;
justify-content: center;
}
.button_portfolio {
display: flex;
justify-content: center;
}

.btnp-li:not(:last-child) {
    margin-right: 8px;    
}

.btnp:hover {
flex-direction: row;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 26px;
background: var(--blue-color);
color: var(--max-white-color);
}
.prod {
    list-style: none;
    margin-left: 30px;
    margin-top: 30px;
    width: 370px;
}

.prod_text{
    padding: 20px 24px;
    border-right: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    border-left: 1px solid var(--white-color);
}

.text {
    padding-top: 94px ;
}
    .timef {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .adresa {
        font-style: normal;
    }
    .ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .text-item:not(:last-child) {
        margin-right: 30px;
    }
    h1, h2, h3, p {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu-foto :not(:last-child) {
        margin-right: 30px;
    }

    .end-time {
        padding: 30px 32px;
        text-align: center;
    }
    .name-b {
        margin-bottom: 0px;
    }
    img {
        display: block;
    }
.actions{
    display: flex;
    padding: 0;
    margin: 0;
    outline: 1px solid var(--body-color);
    list-style: none;
}
    .buttonf {
        padding: 0;
        border: none;
    }
    .buttoni {
        width: 60px;
        height: 60px;
        fill: #2196F3;
    }