:root {
  --body-color: #212121;
  --bgr-color: #2f303a;
  --white-color: #ececec;
  --blue-color: #2196f3;
  --max-white-color: #ffffff;
  --gray-color: #757575;
  --two-white-color: #f5f4fa;
  --sprit-grey-color: #afb1b8;
  --card-set-gep: 30px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--body-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
.head {
  background: var(--max-white-color);
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.link {
  font-weight: 500;
  color: var(--body-color);
  line-height: 1.14;
}
.link:hover {
  font-weight: 500;
  color: var(--blue-color);
  line-height: 1.14;
}
.link:focus {
  font-weight: 500;
  color: var(--blue-color);
  line-height: 1.14;
}

.activate {
  color: var(--blue-color);
}

.logo {
  font-family: Raleway;
  color: var(--body-color);
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.web-end-two,
.map,
.end-contacts,
.logo,
.logo-end,
.site-nav-lis,
.contacts-link,
.web-one,
.link,
.web-two,
.end {
  text-decoration: none;
}

.web-one {
  color: var(--blue-color);
}

.head-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.link-current {
  color: var(--blue-color);
}

.contacts-link {
  color: var(--gray-color);
  line-height: 1.14;
  align-items: center;
}
.contacts-link:focus {
  color: var(--blue-color);
  line-height: 1.14;
}
.contacts-link:hover {
  color: var(--blue-color);
  line-height: 1.14;
}
.contact-item {
  fill: var(--gray-color);
}
.contact-icon {
  margin-right: 10px;
}
.contact-item:hover {
  fill: var(--blue-color);
}
.contact-item:focus {
  fill: var(--blue-color);
}
.site-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--max-white-color);
  text-decoration: none;
  margin-bottom: 30px;
}

.hero {
  background-color: var(--bgr-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-elements {
  text-align: center;
}

.btn {
  background-color: var(--blue-color);
  color: var(--max-white-color);
  padding: 6px 22px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
}
.btn:hover {
  background-color: var(--blue-color);
  color: var(--max-white-color);
  padding: 6px 22px;
  margin-left: auto;
  margin-right: auto;
}
.btn:focus {
  background-color: var(--blue-color);
  color: var(--max-white-color);
  padding: 6px 22px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-text {
  display: flex;
  list-style-type: none;
  align-items: flex-start;
  margin-top: 0px;
}

.text-item {
  cursor: pointer;
}
.icon-text {
  width: 270px;
  height: 120px;
  background: var(--two-white-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.text-item:not(:last-child) {
  margin-right: 30px;
}
.content-element {
  display: flex;
}

.text-elements {
  color: var(--gray-color);
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.14;
  text-decoration: none;
  list-style-type: none;
}
.foto-picture {
}
.text-elements-title {
  color: var(--body-color);
  text-decoration: none;
  margin-bottom: 10px;
}
.foto {
  padding-top: 0px;
}
.foto-elements {
  display: flex;
  flex-direction: column;
}
.foto-item:not(:last-child) {
  margin-right: 30px;
}
.foto_title {
  width: 380;
  text-align: center;
  font-style: 700;
  color: var(--body-color);
  font-size: 36px;
  line-height: 1.16;
  margin: 0px 0px 50px 0px;
}

.site-nav {
  font-style: 500;
  font-weight: 500;
  color: var(--body-color);
}

.team {
  background: var(--two-white-color);
}
.team-list {
  display: flex;
}
.team-items {
  background-color: var(--max-white-color);
}
.team-items:not(:last-child) {
  margin-right: 30px;
}
.team-info {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.team-title {
  font-style: 700;
  color: var(--body-color);
  font-size: 36px;
  line-height: 1.16;
  margin: 0px 0px 50px 0px;
  text-align: center;
}

.foto-elements {
  display: flex;
  flex-direction: column;
}

.foto_title {
  color: var(--body-color);
}

.menu-foto {
  display: flex;
}

.team-name {
  font-weight: 500;
  color: var(--body-color);
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
  margin-bottom: 10px;
}
.team-work {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
  margin-bottom: 0px;
}
.team-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.team-meseng-item:not(:last-child) {
  margin-right: 10px;
}
.customer-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-bottom: 50px;
}
.customer-list {
  display: flex;
}
.customer-link {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  color: var(--sprit-grey-color);
}
.customer-link:hover {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}
.customer-link:focus {
  border: 1px solid var(--blue-color);
}
.customer-item:not(:last-child) {
  margin-right: 30px;
}
.customer-icon {
  fill: currentColor;
}
.end {
  background: var(--bgr-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.end-section {
  display: flex;
  flex-direction: row;
}
.addres {
  font-style: normal;
  margin-top: 20px;
}
.logo-end {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web-end-two {
  color: var(--max-white-color);
}

.end-contakts {
  font-weight: 400;
  background-color: var(--bgr-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.map {
  color: var(--max-white-color);
}
.end-contacts {
  font-family: Roboto;
  width: 231px;
  color: rgba(255, 255, 255, 0.6);
}
.end-item:not(:last-child) {
  margin-bottom: 9px;
}
.end-contacts:hover {
}
.end-contacts:focus {
}
.mesenjers {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--max-white-color);
  text-align: center;
  margin-left: 70px;
}
.mecenger-box {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.mecenger-box-end {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-left: 70px;
}
.mesen-battton {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sprit-grey-color);
}

.mesen-battton:hover {
  background-color: var(--blue-color);
  color: var(--max-white-color);
}
.mesen-battton:focus {
  background-color: var(--blue-color);
  color: var(--max-white-color);
}
.mesen-battton-end {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--max-white-color);
}
.meseng-item {
  color: var(--max-white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.mesen-battton-end:focus {
  background-color: var(--blue-color);
  color: var(--max-white-color);
}
.mesen-battton-end:hover {
  background-color: var(--blue-color);
  color: var(--max-white-color);
}
.meseng-item:not(:last-child) {
  margin-right: 10px;
}
.mesenj-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.mesenj-icon:hover {
  background-color: var(--blue-color);
}
.button_one {
  font-weight: 500;
  font-size: 16px;
  line-height: 2.6;
  background-color: var(--blue-color);
  color: var(--max-white-color);
}
.product {
  padding-top: 100px;
  padding-bottom: 94px;
}
.product-elements {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.product-name {
  font-family: Roboto;
  color: var(--body-color);
  font-size: 18px;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  color: var(--body-color);
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 4px;
}
.product-tape {
  font-family: Roboto;
  color: var(--gray-color);
  font-size: 16px;
  line-height: 1.8;
}

.button-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btnp-item:not(:last-child) {
  margin-right: 8px;
}

.prod-text {
  padding: 20px 24px;
  border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
}
.prod-item {
  flex-basis: calc(100% / 3 - var(--card-set-gep));
  margin-top: var(--card-set-gep);
  margin-left: var(--card-set-gep);
  cursor: pointer;
}
.prod-item:focus {
  background: var(--max-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.prod-item:hover {
  background: var(--max-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.btnp {
  cursor: pointer;
  border: transparent;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: var(--two-white-color);
  color: var(--body-color);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btnp:focus {
  flex-direction: row;
  font-size: 16px;
  line-height: 1.62;
  background: var(--blue-color);
  color: var(--max-white-color);
}
.btnp:hover {
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: var(--blue-color);
  color: var(--max-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btnp-item {
  list-style-type: none;
}
.btnp-item:focus {
  list-style-type: none;
}
