.contacts__link {
  color: var(--gray-color);
  font-weight: 500;
  line-height: 1.14;
  align-items: center;
  font-size: 14px;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
.contacts__item {
  transition: fill 250ms linear;
  fill: var(--gray-color);
  &:focus,
  &:hover {
    fill: var(--blue-color);
  }
}
.contacts__icon {
  transition: fill 250ms linear;
  &:focus,
  &:hover {
    fill: var(--blue-color);
  }
}

.contacts__head {
  margin-right: 10px;
}

.contacts {
  display: flex;
  margin-left: auto;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}

.contacts-item__head {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.activate {
  color: var(--blue-color);
}
