.foto {
  padding-top: 0px;
}
.foto-elements {
  display: flex;
  flex-direction: column;
}
.foto-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.foto-item {
  position: relative;
}
.foto_title {
  width: 380;
  text-align: center;
  font-style: 700;
  color: var(--body-color);
  font-size: 36px;
  line-height: 1.16;
  margin: 0px 0px 50px 0px;
}
.foto-elements {
  display: flex;
  flex-direction: column;
}
.menu-foto {
  display: flex;
}
.foto-text {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 27px 82px;
  color: var(--max-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
