.head-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.head {
  background: var(--max-white-color);
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  letter-spacing: 0.03em;
}
