.prod-text {
  padding: 20px 24px;
  border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
}
.prod-item {
  flex-basis: calc(100% / 3 - var(--card-set-gep));
  margin-top: var(--card-set-gep);
  margin-left: var(--card-set-gep);
  cursor: pointer;
  transition: color 250ms linear;
  &:hover .prod-content {
    transform: translateY(0);
  }
  &:focus,
  &:hover {
    background: var(--max-white-color);
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.prod-item-masters {
  position: relative;
  overflow: hidden;
}

.prod-content {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--max-white-color);
  line-height: 1.55;
  font-weight: 500;
  font-size: 18px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
