.team {
  background: var(--two-white-color);
}
.team-list {
  display: flex;
}
.team-items {
  background-color: var(--max-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-info {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.team-title {
  font-style: 700;
  color: var(--body-color);
  font-size: 36px;
  line-height: 1.16;
  margin: 0px 0px 50px 0px;
  text-align: center;
}
.team-work {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
  margin-bottom: 0px;
}
.team-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  transition: color 250ms linear;
}
.team-meseng-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team-name {
  font-weight: 500;
  color: var(--body-color);
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0px;
  margin-bottom: 10px;
}
