.logo {
  font-family: Raleway;
  color: var(--body-color);
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.02em;
}
.logo__head {
  margin-right: 93px;
}
.web-one {
  color: var(--blue-color);
}
