.mesenjers {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--max-white-color);
  text-align: left;
  margin-top: 15px;
  font-weight: 700;
}
.mesen-battton {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--sprit-grey-color);
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: var(--blue-color);
    color: var(--max-white-color);
  }
}
.mesen-battton-end {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--max-white-color);
  transition: background-color 250ms linear;
}
.mecenger-box {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.mecenger-box-end {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.meseng-item {
  color: var(--max-white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.mesen-battton-end {
  &:focus,
  &:hover {
    background-color: var(--blue-color);
    color: var(--max-white-color);
  }
}
.meseng-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.mesenj-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  transition: fill 250ms linear;
}
