.site__nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-style: 500;
  font-weight: 500;
  color: var(--body-color);
}
.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.link__nav {
  font-weight: 500;
  color: var(--body-color);
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: color 250ms linear;
  text-decoration: none;
  &:hover,
  &:focus {
    font-weight: 500;
    color: var(--blue-color);
    line-height: 1.14;
  }
}
