body {
  font-family: Roboto, sans-serif;
  color: var(--body-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.web-end-two,
.map,
.end-contacts,
.logo,
.logo-end,
.site-nav__item,
.contacts-link,
.web-one,
.link,
.link__nav,
.web-two,
.end {
  text-decoration: none;
}
