:root {
  --body-color: #212121;
  --bgr-color: #2f303a;
  --white-color: #ececec;
  --blue-color: #2196f3;
  --max-white-color: #ffffff;
  --gray-color: #757575;
  --two-white-color: #f5f4fa;
  --sprit-grey-color: #afb1b8;
  --card-set-gep: 30px;
}
